@model Web.Models.SANPHAM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
<style>
    .btncreate {
        border-radius: 5px;
        background-color: red;
        border: none;
        color: white;
        padding: 10px 23px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        color: white;
    }

    th {
        background-color: #17aa67;
        color: white;
    }

    table {
        border: solid 1px white;
    }

    td {
        background-color: white;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> @Html.DisplayNameFor(model => model.TenSP)</th>
                <th> @Html.DisplayNameFor(model => model.DonGia)</th>
                <th> @Html.DisplayNameFor(model => model.SoLuong)</th>
                <th> @Html.DisplayNameFor(model => model.HinhMinhHoa)</th>
          
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.TenSP)
                </td>
                <td>
                    @Html.DisplayFor(model => model.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(model => model.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(model => model.HinhMinhHoa)
                </td>
            
            </tr>
        </tbody>
    </table>
}
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn-danger" /> |
            <button class="btn_back">
                <i class="material-icons" style="font-size:13px;color:white;"></i>
                @Html.ActionLink("Quay lại", "SanPham")
            </button>
        </div>
    }
</div>
